header{
    height: 91px;
    background-color: black;
    display: flex;
}

header img{
    height: 60px;
    margin: 17px 25px;
}

header nav{
    width: 100%;
    margin-left: 6%;
    margin-right: 30px;
}

header nav ul{
    font-size: 25px;
    display: flex;
    list-style: none;
}

header nav ul li{
    width: 100%;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1550px) {
    header{
        height: 70px;
    }

    header img{
        height: 50px;
        margin: 10px 25px;
    }

    header nav ul{
        margin: 15px 0;
    }
}